body {
	font-family: monospace;
	margin: 0;
}
img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.text {
	border: 1px dashed;
	text-align: left;
}
p:focus {
	border: 1px solid;
	outline: none;
}
.container {
	border: 1px solid;
	padding: 5px;
	position: fixed;
	text-align: right;
}
.deleter, .palette, .resizer { cursor: pointer; }
.dragger { cursor: all-scroll; }
/* applies everything but a bottom margin to everything in the container */
.container > * {
	margin: 5px 5px 0 5px;
}